<button mat-stroked-button class="select-toolbar__button">
<mat-select [formControl]="selected" class="select-toolbar__select" (selectionChange)="onSelectionChange($event)">
  <mat-option class="select-toolbar__option" value="day"><span data-extra-text="D">Day</span></mat-option>
  <mat-option class="select-toolbar__option" value="week"><span data-extra-text="W">Week</span></mat-option>
  <mat-option class="select-toolbar__option" value="month"><span data-extra-text="M">Month</span></mat-option>
  <mat-option class="select-toolbar__option" value="year"><span data-extra-text="Y">Year</span></mat-option>
  <mat-option class="select-toolbar__option" value="schedule"><span data-extra-text="A">Schedule</span></mat-option>
  <mat-option class="select-toolbar__option" value="period"><span data-extra-text="X">4 days</span></mat-option>
</mat-select>
</button>
