.mat-calendar-table-header-divider::after {
  display: none;
}

.mat-calendar-table-header th {
  padding: 0 !important;
}

.mat-calendar-body-label {
  opacity: 0;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.mat-calendar-body-cell-content.mat-focus-indicator {
  font-size: 10px;
  color: rgb(60,64,67);
}
