.mat-calendar-header {
  padding: 0 !important;
}

.mat-calendar-controls {
  margin: 0 !important;
}

.mat-calendar-period-button {
  pointer-events: none;
  cursor: not-allowed;
  margin: 0 !important;
  font-size: 14px !important;
}

.mat-calendar-arrow {
  display: none !important;
}

.mat-calendar-content {
  padding: 0 !important;
}

.mat-calendar-controls .mat-mdc-icon-button.mat-mdc-button-base {
  width: 25px;
  height: 25px;
}

.mat-calendar-previous-button::after {
  margin: 9.5px !important;
}

.mat-calendar-next-button::after {
  margin: 9.5px !important;
}

.mat-calendar-table-header-divider::after {
  display: none;
}

.mat-calendar-table-header th {
  padding: 0 !important;
}

.mat-calendar-body-label {
  opacity: 0;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.mat-calendar-body-cell-content.mat-focus-indicator {
  font-size: 10px;
  color: rgb(60,64,67);
}
