.toolbar {
  display: flex;
  gap: 8px;
  justify-content: space-between;
  padding: 8px 30px;

  &__group{
    display: flex;
    gap: 50px;
  }

  &__left-container {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__center-container {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__right-container {
    display: flex;
    align-items: center;
    gap: 4px;
  }
}
