.toolbar {
  display: flex;
  gap: 8px;

  &__left-container {
    display: flex;
    align-items: center;
    padding-right: 30px;
    gap: 8px;
  }

  &__center-container {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__right-container {
    display: flex;
    align-items: center;
    gap: 4px;
  }
}
