<div class="calendar__month month">
  <div class="month__container">
    <div class="month__week-title">
      <div class="month__day-week"><span>SUN</span></div>
      <div class="month__day-week"><span>MON</span></div>
      <div class="month__day-week"><span>TUE</span></div>
      <div class="month__day-week"><span>WED</span></div>
      <div class="month__day-week"><span>THU</span></div>
      <div class="month__day-week"><span>FRI</span></div>
      <div class="month__day-week"><span>SAT</span></div>
    </div>
    <div class="month__month">
      <div class="month__week">
        <div class="month__line">
          <div class="month__line--key"></div>
          <div class="month__line--key"></div>
          <div class="month__line--key"></div>
          <div class="month__line--key"></div>
          <div class="month__line--key"></div>
          <div class="month__line--key"></div>
          <div class="month__line--key"></div>
        </div>
        <div class="month__day-number">
          <div class="month__day-number--number">
            <span>25</span>
          </div>
          <div class="month__day-number--number">
            <span>26</span>
          </div>
          <div class="month__day-number--number">
            <span>27</span>
          </div>
          <div class="month__day-number--number">
            <span>28</span>
          </div>
          <div class="month__day-number--number">
            <span>29</span>
          </div>
          <div class="month__day-number--number">
            <span>1</span>
          </div>
          <div class="month__day-number--number">
            <span>2</span>
          </div>
        </div>
        <div class="month__event"></div>
      </div>
      <div class="month__week">
        <div class="month__line">
          <div class="month__line--key"></div>
          <div class="month__line--key"></div>
          <div class="month__line--key"></div>
          <div class="month__line--key"></div>
          <div class="month__line--key"></div>
          <div class="month__line--key"></div>
          <div class="month__line--key"></div>
        </div>
        <div class="month__day-number">
          <div class="month__day-number--number">
            <span>3</span>
          </div>
          <div class="month__day-number--number">
            <span>4</span>
          </div>
          <div class="month__day-number--number">
            <span>5</span>
          </div>
          <div class="month__day-number--number">
            <span>6</span>
          </div>
          <div class="month__day-number--number">
            <span>7</span>
          </div>
          <div class="month__day-number--number">
            <span>8</span>
          </div>
          <div class="month__day-number--number">
            <span>9</span>
          </div>
        </div>
        <div class="month__event"></div>
      </div>
      <div class="month__week">
        <div class="month__line">
          <div class="month__line--key"></div>
          <div class="month__line--key"></div>
          <div class="month__line--key"></div>
          <div class="month__line--key"></div>
          <div class="month__line--key"></div>
          <div class="month__line--key"></div>
          <div class="month__line--key"></div>
        </div>
        <div class="month__day-number">
          <div class="month__day-number--number">
            <span>10</span>
          </div>
          <div class="month__day-number--number">
            <span>11</span>
          </div>
          <div class="month__day-number--number">
            <span>12</span>
          </div>
          <div class="month__day-number--number">
            <span>13</span>
          </div>
          <div class="month__day-number--number">
            <span>14</span>
          </div>
          <div class="month__day-number--number">
            <span>15</span>
          </div>
          <div class="month__day-number--number">
            <span>16</span>
          </div>
        </div>
        <div class="month__event"></div>
      </div>
      <div class="month__week">
        <div class="month__line">
          <div class="month__line--key"></div>
          <div class="month__line--key"></div>
          <div class="month__line--key"></div>
          <div class="month__line--key"></div>
          <div class="month__line--key"></div>
          <div class="month__line--key"></div>
          <div class="month__line--key"></div>
        </div>
        <div class="month__day-number">
          <div class="month__day-number--number">
            <span>17</span>
          </div>
          <div class="month__day-number--number">
            <span>18</span>
          </div>
          <div class="month__day-number--number">
            <span>19</span>
          </div>
          <div class="month__day-number--number">
            <span>20</span>
          </div>
          <div class="month__day-number--number">
            <span>21</span>
          </div>
          <div class="month__day-number--number">
            <span>22</span>
          </div>
          <div class="month__day-number--number">
            <span>23</span>
          </div>
        </div>
        <div class="month__event"></div>
      </div>
      <div class="month__week">
        <div class="month__line">
          <div class="month__line--key"></div>
          <div class="month__line--key"></div>
          <div class="month__line--key"></div>
          <div class="month__line--key"></div>
          <div class="month__line--key"></div>
          <div class="month__line--key"></div>
          <div class="month__line--key"></div>
        </div>
        <div class="month__day-number">
          <div class="month__day-number--number">
            <span>24</span>
          </div>
          <div class="month__day-number--number">
            <span>25</span>
          </div>
          <div class="month__day-number--number">
            <span>26</span>
          </div>
          <div class="month__day-number--number">
            <span>27</span>
          </div>
          <div class="month__day-number--number">
            <span>28</span>
          </div>
          <div class="month__day-number--number">
            <span>29</span>
          </div>
          <div class="month__day-number--number">
            <span>30</span>
          </div>
        </div>
        <div class="month__event"></div>
      </div>
      <div class="month__week">
        <div class="month__line">
          <div class="month__line--key"></div>
          <div class="month__line--key"></div>
          <div class="month__line--key"></div>
          <div class="month__line--key"></div>
          <div class="month__line--key"></div>
          <div class="month__line--key"></div>
          <div class="month__line--key"></div>
        </div>
        <div class="month__day-number">
          <div class="month__day-number--number">
            <span>31</span>
          </div>
          <div class="month__day-number--number">
            <span>1</span>
          </div>
          <div class="month__day-number--number">
            <span>2</span>
          </div>
          <div class="month__day-number--number">
            <span>3</span>
          </div>
          <div class="month__day-number--number">
            <span>4</span>
          </div>
          <div class="month__day-number--number">
            <span>5</span>
          </div>
          <div class="month__day-number--number">
            <span>6</span>
          </div>
        </div>
        <div class="month__event"></div>
      </div>
    </div>
  </div>
</div>
