<div class="calendar__month month">
  <div class="month__container">
    <div class="month__week-title">
      <div class="month__day-week"><span>SUN</span></div>
      <div class="month__day-week"><span>MON</span></div>
      <div class="month__day-week"><span>TUE</span></div>
      <div class="month__day-week"><span>WED</span></div>
      <div class="month__day-week"><span>THU</span></div>
      <div class="month__day-week"><span>FRI</span></div>
      <div class="month__day-week"><span>SAT</span></div>
    </div>
    <div class="month__month">
      <div class="month__week" *ngFor="let week of weeks;">
        <div class="month__line">
          <div class="month__line--key"></div>
          <div class="month__line--key"></div>
          <div class="month__line--key"></div>
          <div class="month__line--key"></div>
          <div class="month__line--key"></div>
          <div class="month__line--key"></div>
          <div class="month__line--key"></div>
        </div>
        <div class="month__day-number">
          <div class="month__day-number--number" *ngFor="let date of week">
            <span>{{getDayNumber(date)}}</span>
          </div>
        </div>
        <div class="month__event"></div>
      </div>
    </div>
  </div>
</div>
