.main {
  &__container {
    background-color: #1C74E8;
    width: 100%;

  }

  &__content {
    min-height: 90.8vh;
  }

  &__sidenav {
    height: 100%;
    padding: 20px;
    width: 256px;
  }
}


