<div class="calendar__header">
  <div class="calendar__time">
    <span>GMT+02</span>
  </div>
  <div class="calendar__title-day" *ngFor="let day of week$ | async; index as i">
    <div class="calendar__step"></div>
    <div class="calendar__day">
      <div class="calendar__day--line"></div>
      <div class="calendar__day--container">
        <div class="calendar__day--name"><span>{{getNameDay(day)}}</span></div>
        <div class="calendar__day--number"><span>{{getDayNumber(day)}}</span></div>
      </div>
    </div>
  </div>
</div>

<div class="calendar__content"></div>
