<div class="calendar__header">
  <div class="calendar__time">
    <span>GMT+02</span>
  </div>
  <div class="calendar__title-day">
    <div class="calendar__step"></div>
    <div class="calendar__day">
      <div class="calendar__day--line"></div>
      <div class="calendar__day--container">
        <div class="calendar__day--name"><span>MON</span></div>
        <div class="calendar__day--number"><span>26</span></div>
      </div>
    </div>
  </div>
</div>

<div class="calendar__content">
  <!--  <div class="calendar__day-events">-->
  <!--    <div class="day__lane">-->
  <!--&lt;!&ndash;      <event-display&ndash;&gt;-->
  <!--&lt;!&ndash;        *ngFor="let event of dayView.events | allDayEventPipe: true"&ndash;&gt;-->
  <!--&lt;!&ndash;        class="calendar__item"&ndash;&gt;-->
  <!--&lt;!&ndash;        [component]="options.renderComponent.day"&ndash;&gt;-->
  <!--&lt;!&ndash;        [event]="event"&ndash;&gt;-->
  <!--&lt;!&ndash;        [date]="selectedDate"&ndash;&gt;-->
  <!--&lt;!&ndash;        (click)="onEventClick(event)">&ndash;&gt;-->
  <!--&lt;!&ndash;      </event-display>&ndash;&gt;-->
  <!--    </div>-->
  <!--  </div>-->

  <!--  <div class="calendar__lanes">-->
  <!--    <div class="calendar__times">-->
  <!--      <div class="time-cell">-->
  <!--      </div>-->
  <!--    </div>-->

  <!--    <div class="day__lane">-->
  <!--      <div class="time-grid">-->
  <!--        <div class="time-grid__cell"></div>-->
  <!--      </div>-->

  <!--      <div class="calendar__marker"></div>-->

  <!--&lt;!&ndash;      <event-display&ndash;&gt;-->
  <!--&lt;!&ndash;        *ngFor="let event of dayView.events | allDayEventPipe: false"&ndash;&gt;-->
  <!--&lt;!&ndash;        class="calendar__item"&ndash;&gt;-->
  <!--&lt;!&ndash;        [component]="options.renderComponent.day"&ndash;&gt;-->
  <!--&lt;!&ndash;        [event]="event"&ndash;&gt;-->
  <!--&lt;!&ndash;        [date]="selectedDate"&ndash;&gt;-->
  <!--&lt;!&ndash;        [style.width.%]="event.grid?.width"&ndash;&gt;-->
  <!--&lt;!&ndash;        [style.marginLeft.%]="event.grid?.offsetLeft"&ndash;&gt;-->
  <!--&lt;!&ndash;        [style.marginTop.px]="event.grid?.offsetTop"&ndash;&gt;-->
  <!--&lt;!&ndash;        [style.height.px]="event.grid?.durationOffset"&ndash;&gt;-->
  <!--&lt;!&ndash;        (click)="onEventClick(event)">&ndash;&gt;-->
  <!--&lt;!&ndash;      </event-display>&ndash;&gt;-->
  <!--    </div>-->
  <!--  </div>-->
</div>
