<div class="calendar__header">
  <div class="calendar__time">
    <span>GMT+02</span>
  </div>
  <div class="calendar__title-day">
    <div class="calendar__step"></div>
    <div class="calendar__day">
      <div class="calendar__day--line"></div>
      <div class="calendar__day--container">
        <div class="calendar__day--name"><span>SUN</span></div>
        <div class="calendar__day--number"><span>24</span></div>
      </div>
    </div>
    <div class="calendar__day">
      <div class="calendar__day--line"></div>
      <div class="calendar__day--container">
        <div class="calendar__day--name"><span>MON</span></div>
        <div class="calendar__day--number"><span>25</span></div>
      </div>
    </div>
    <div class="calendar__day">
      <div class="calendar__day--line"></div>
      <div class="calendar__day--container">
        <div class="calendar__day--name"><span>TUE</span></div>
        <div class="calendar__day--number"><span>26</span></div>
      </div>
    </div>
    <div class="calendar__day">
      <div class="calendar__day--line"></div>
      <div class="calendar__day--container">
        <div class="calendar__day--name"><span>WED</span></div>
        <div class="calendar__day--number"><span>27</span></div>
      </div>
    </div>
  </div>
</div>

<div class="calendar__content"></div>

