<div class="calendar__year year">
<div class="year__container">
<div class="year__month-container">
  <div class="year__month"></div>
  <div class="year__month"></div>
  <div class="year__month"></div>
  <div class="year__month"></div>
  <div class="year__month"></div>
  <div class="year__month"></div>
  <div class="year__month"></div>
  <div class="year__month"></div>
  <div class="year__month"></div>
  <div class="year__month"></div>
  <div class="year__month"></div>
  <div class="year__month"></div>
</div>
</div>
</div>
