@import 'scss/components/am-components/am-toolbar';
@import "scss/components/am-components/am-icon";
@import "scss/components/am-components/am-select";
@import "scss/components/am-components/am-button-toggle";
@import "scss/components/am-components/am-calendar";
@import "scss/components/am-components/am-form";
*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(60,64,67);
  font-family: Roboto,Arial,sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  min-height: 100vh;
  margin: 0;
  background-color: #fff;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

.root {
  display: block;
  height: 100vh;
  overflow: hidden;
}
