.main {
  &__container {
    background-color: var(--mat-sidenav-container-background-color);
    height: 100%;

    &::-webkit-scrollbar {
      width: 12px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
      background: #888;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }

  &__content {
    min-height: 90.8vh;
  }

  &__drawer {
    padding: 20px;
    width: 256px;
    border: none;
  }

  &__calendar {
  }
}


